# Copy this file to config.py and adjust the settings below.

# Your DigitalOcean API token
do_token = "YOUR_API_TOKEN"

# Your domain name
domain =  "example.com"

# Your hostname (e.g., for host.mydomain.com, use host as the value)
hostname = "YOUR_HOSTNAME"

# Toggle to update IPv6 addresses
update_ipv6 = False